body{
    margin: 0px;
    background-color: #7f7f80;
}
nav{
    
}

#menu{
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: azure;
    overflow: hidden;
    background-color: black;

}
#menu li{
    float: left;
    text-align: center;
    position: relative;
    
}
#menu li a{
    display: block;
    color: white;
    font-style: italic;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    
    
}
#menu li a:hover{
    background-color: #857d0c;
}